.calculator-container {
  
}

.calculator-top {
  display: flex;
  align-items: center;
}
.calculator-title {
  text-align: center;
  justify-content: flex-start;
}

.home-btn {
  border-radius: 50%;
  border-style: hidden;
  margin-right: 40px;
}

.home-btn img {
  width: 50px;
  height: 50px;
}

.wait-image {
  width: 80%;
  height: auto;
}
