
.calculator-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator-title {
  text-align: center;
  justify-content: flex-start;
}

.home-btn {
  border-radius: 50%;
  border-style: hidden;
  margin-right: 40px;
}

.home-btn img {
  width: 50px;
  height: 50px;
}

.back-btn {
  background: none;
  color: #fff;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.wait-image {
  width: 80%;
  height: auto;
}
