.calculate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}

.calculate-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.calculate-image {
  max-width: 50%;
  height: auto;
}

.home-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s;
}

.home-btn img {
  width: 50px;
  height: 50px;
}

.home-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.blue {
  background-color: #3b9cc9;
}
