.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.info-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

