.credit-params {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.param-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.param-block label {
  font-size: 14px;
  margin-bottom: 5px;
}

.param-block input {
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
}
